<% if @event.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>Event creation process failed due to:</p>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag url_for(action: 'create'), method: "post" do %>
  <%= text_field_tag 'title', '', class: 'form-control', placeholder: 'Titre'%>
  <%= text_field_tag 'price', '', class: 'form-control', placeholder: 'Prix'%>
  <%= text_field_tag 'location', '', class: 'form-control', placeholder: 'Lieu'%>
  <%= text_field_tag 'start_date', '', class: 'form-control', placeholder: 'Date de début'%>
  <%= text_field_tag 'duration', '', class: 'form-control', placeholder: 'Durée (en minutes)'%>
  <%= text_area_tag 'description', '', class: 'form-control', placeholder: 'Description'%>
  <%= submit_tag "Créer l'Event", class: "btn btn-secondary" %>
<% end %>