<% if @event.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>Event creation process failed due to:</p>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form class="mt-3 text-info">
<%= form_tag url_for(action: 'create'), method: "post" do %>
  <label for="InputTitle">Titre</label>
  <%= text_field_tag 'title', '', class: 'form-control', placeholder: 'Ex: Fête de Pâques'%>
  <small id="titlelHelp" class="form-text text-muted">Doit être compris entre 5 et 140 caractères.</small></br>
  <label for="InputPrice">Prix</label>
  <%= text_field_tag 'price', '', class: 'form-control', placeholder: 'Ex: 15'%>
  <small id="priceHelp" class="form-text text-muted">Doit être un chiffre entier positif.</small></br>
  <label for="InputLocation">Lieu</label>
  <%= text_field_tag 'location', '', class: 'form-control', placeholder: 'Ex: La Félicita'%></br>
  <label for="InputDay">Date</label>
  <%= text_field_tag 'day', '', class: 'form-control', placeholder: 'Ex: 26/03/2019'%>
  <small id="daylHelp" class="form-text text-muted">Doit être dans le futur.</small></br>
  <label for="InputHour">Horaire de début</label>
  <%= text_field_tag 'hour', '', class: 'form-control', placeholder: 'Ex: 18:30'%></br>
  <label for="InputDuration">Durée</label>
  <%= text_field_tag 'duration', '', class: 'form-control', placeholder: 'Ex: 120 (pour 2h)'%>
  <small id="durationlHelp" class="form-text text-muted">Uniquement tranches horaires de 5 minutes comptabilisées (5min, 20min, 145min...) .</small></br>
  <label for="InputDescription">Description</label>
  <%= text_area_tag 'description', '', class: 'form-control', placeholder: 'Ex: Venez chasser les oeufs à la Félicita le dernier week-end de mars'%>
  <small id="descriptionlHelp" class="form-text text-muted">Doit être compris entre 20 et 1000 caractères.</small></br>
  <%= submit_tag "Créer l'Event", class: "btn btn-info" %></br>
<% end %>
</form>
<p></p>