 <h1> <%= @event.title %> </h1>
 <p>
 Description : </br>
 	<%= @event.description %>
 </p>

 <p>
 Où ? <%= @event.location %></br>
 Début ? <%= @event.start_date.strftime("%H:%M") %> (<%= @event.start_date.strftime("%m/%d/%y") %>)</br>
 Fin ? <%= @event_end_date.strftime("%H:%M") %> (<%= @event_end_date.strftime("%m/%d/%y") %>)</br>
 Et le prix ? <%= @event.price %>€</br> 
 <% hours = @event.duration / 60 %>
 <% rest = @event.duration % 60 %>
 Durée ? <%= hours %>h<%=rest%>
</p>

<p>
  Contacter le créateur de l'évènement : <%=@event.administrator.email %>
</p>

<p>
  Nombre de participants : <%=@event.attendances.count %> participants
</p>

<p>
  <% if current_user == @event.administrator %>
  <%= link_to "Mon espace EVENT", attendances_path(params[:id]), class: "btn-dark btn p-1" %>
  <% end %>
</p>



